@charset "utf-8"; 

@font-face {
    font-family: 'love';
    src: url('../fonts/MinecraftRegular-Bmg3.otf');
    scr: url('../fonts/Minecraftia-Regular.ttf');
     font-style: normal;
     font-weight: normal;



}
:root{
  --cor1: blue;
  --cor2: blue;
  --cor3: blue;
  --cor4: blue;
  --cor5: blue;
  --cor6: blue;
  --font-principal: Arial , helvetica ,sans-serif;
  --font-minecraft: love , arial , sans-serif
}
*{
  margin: auto;
}
header{
  background-color: rgb(219, 208, 208);
  border: 1px solid black;
  padding-bottom: 48px;  
}
nav{
  position: absolute;
  top: 40px;
display: inline-block;
border-bottom-right-radius: 12px;
border-bottom-left-radius: 12px;
margin: 0px;
}
nav:hover img{
  display: none;
}
nav a{ 
  display: none;
  margin: 0px;
}
nav span{
  color: black;
  display: none;
  font-family: var(--font-minecraft);
  margin: 0px;
}
nav:hover span{
  padding-left: 4px;
  display: block;
  border: 1px solid black;
  margin: 0px;
}
nav:hover{ 
  color: white;
  width: 120px;
  height: 465px;
  border: 1px solid rgb(10, 66, 79) ;
  background-color: burlywood;
  padding: 0px;
  border-collapse: collapse;
  font-family: var(--font-principal) ;
  margin: 0px;
}
nav:hover a{
display:block;
width: 100px;
text-decoration: none;
color: black;
margin: 0px;
}
nav >:hover a{
  background-color: white;
  color: black;
  border-radius: 2px;
  transition-duration: .4s;
}
body{
 height: 100vh;
  background-color: rgb(65, 56, 56);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
   text-align: justify;
   text-indent: 20x; 
}
main{
  padding: 0px;
  text-align: justify;
min-width: 320px;
max-width: 1050px;
}
section{
  
  font-family: var(--font-principal);
  background-color: rgb(219, 208, 208);
  padding: 10px;
  font-size: 1.1em;
  border: 2px solid;}

  #img-fundo{
    background-image: url('../imagens/img-p.png');
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: inline-block;
    
  }

code{
  font-weight: bolder;

}
.img{
  width: 30%;
}
h1 , h2 , h3, h4 ,h5 ,h6{
  text-align: center;
  text-decoration: double underline;
  font-family: var(--font-minecraft);
}
mark{
  font-family: var(--font-minecraft);
  background-color: rgb(141, 238, 92);
}
#ex01{
  box-shadow: 4px 6px 5px 3px black; 
 
}
ol, ul{
  padding-left: 20px;
}
table ,th ,td{
border: 1px solid black;
border-collapse: collapse;
font-size: medium;
font-family: var(--font-principal);
position: relative;
text-align: center;
}
caption{
  font-size: 30px;
}
table{
 width:40vh;
    
}
thead ,th {
position: sticky;
top: -1px;
background-color: #383838;
color: white;
font-weight: bolder;
}
#tb1{
width: 70%;
}
table> tr:nth-child(odd){
background-color: rgb(192, 183, 183);
}
br{
  margin-top: 20px;
  margin-bottom: 20px;
}
footer{
  text-align: center;
  background-color: rgb(19, 19, 20);
  color: white;
  margin: 0px;
}
#chess{
color: black;
text-align: center;
font-size: larger;
object-position: center;
margin: 0%;
}
#chess .bs{
  background-color: #ff0000;
}
#chess .c{
  background-color: black;
  color: white;
}
#chess td{
  background-color: rgb(0, 0, 0);
  color: white;
}


td{
  width: 45px;
  font-size: larger;
}

