@charset "utf-8"; 

@font-face {
    font-family: 'love';
    src: url('../fonts/MinecraftRegular-Bmg3.otf');
    scr: url('../fonts/Minecraftia-Regular.ttf');
     font-style: normal;
     font-weight: normal;


}
*{
  padding: 3px;
}
header{
  background-color: rgb(219, 208, 208);
  border: 2px solid black;
  
}
body{
  background-color: rgb(128, 41, 222);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
   text-align: justify;
   text-indent: 20x; 
  
}
#menu{
 margin: 1px 1175px 1px 1px;
}
#menu:hover img{
  display: none;
}
#menu a{ 
  display: none;
}
#menu:hover{ 
  color: white;
  padding: 100px 150px 110px 100px;
  border: 1px solid black ;
}
#menu:hover a{
 display: inline-block;
width: 100px;
text-align: left;
}
section{
  background-color: rgb(219, 208, 208);
  padding: 10px;
  font-size: 1.1em;
}
.titulo{
  text-align: center;
  text-decoration: double underline;
  font-family: 'love';
}
mark{background-color: rgb(141, 238, 92);
}
section{ 
border: 6px solid;
border-radius: 12px;
}
#ex01{
  box-shadow: 4px 6px 5px 3px black;}
.lista{
  padding-left: 20px;
}
footer{
  background-color: rgb(128, 41, 222);
  color: white;
}
pre{
  font-size: 0.9em;
}
