@charset "utf-8"; 

@font-face {
    font-family: 'love';
    src: url('../fonts/MinecraftRegular-Bmg3.otf');
    scr: url('../fonts/Minecraftia-Regular.ttf');
     font-style: normal;
     font-weight: normal;


}
:root{
  --cor1: blue;
  --cor2: blue;
  --cor3: blue;
  --cor4: blue;
  --cor5: blue;
  --cor6: blue;
}
*{
  margin: auto;
  padding: 2px;
}
header{
  background-color: rgb(219, 208, 208);
  border: 1px solid black;
  
}
body{
  background-color: rgb(173, 110, 110);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
   text-align: justify;
   text-indent: 20x; 
}
main{
  padding: 0px;
  text-align: justify;
min-width: 320px;
max-width: 1050px;
}
section{
  background-color: rgb(219, 208, 208);
  padding: 10px;
  font-size: 1.1em;
  border: 2px solid;}
code{
  font-weight: bolder;

}

.img{
  width: 35%;
  padding-left: 1px;}
nav{
 margin: 1px 1175px 1px 1px;
border-bottom-right-radius: 12px;
border-bottom-left-radius: 12px;
}
nav:hover img{
  display: none;
}
nav a{ 
  display: none;
}
nav:hover{ 
  color: white;
  padding: 100px 150px 110px 100px;
  border: 1px solid black ;
}
nav:hover a{
 display: inline-block;
width: 100px;
}

}
.titulo{
  text-align: center;
  text-decoration: double underline;
  font-family: 'love';
}
mark{background-color: rgb(141, 238, 92);
}
#ex01{
  box-shadow: 4px 6px 5px 3px black; 
}

.lista{
  padding-left: 20px;
}
footer{
  background-color: rgb(19, 19, 20);
  color: white;
  margin: 0px;
}
